@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.playCVColor {
    color: #8c52ff;
}
.playCVGradient {
  font-weight: bold;
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right, #2196f3, #8e24aa);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline;
}
.editContainer {
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  overflow: hidden;
}
.carousel {
  margin-top: auto;
  height: 25vh;
}
.carouselImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
i {
  font-size: 60px;
}
.selectedImg {
  height: 30vh;
  object-fit: cover;
}
.editDialog {
  overflow-y: scroll;
  height: 75vh;
  margin-top: 5vh;
  padding: 30px;
  h1 {
    padding: 20px 0;
  }
}
.dialogFileIn {
  height: 200px;
  cursor: pointer;
  position: relative;
  i {
    position: absolute;
    top: 25px;
    right: -20px;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #000;
  }
  img {
    height: 200px;
    object-fit: cover;
  }
}
#fileIn {
  display: none;
}

@media (max-width: 1300px) {
  .editDialog {
    height: 100vh;
    margin-top: 0;
    bottom: 0;
    padding: 5px;
    overflow-y: unset;
    h1 {
      padding: 0;
    }
  }
  i {
    font-size: 30px;
  }
}
