@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap");

.quicksand {
  font-family: "Quicksand", sans-serif;
}
.sofia {
  font-family: "Sofia", sans-serif;
}
.emphesis {
  font-family: "Ephesis", sans-serif;
}
.faustina {
  font-family: "Faustina", sans-serif;
}

.playCVColor {
  color: #8c52ff;
}
.playCVGradient {
  font-weight: bold;
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right, #2196f3, #8e24aa);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline;
  padding-right: 0.5rem;
}

.editContainer {
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  overflow: hidden;
}
.carousel {
  margin-top: auto;
  height: 25vh;
}
.carouselImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
i {
  font-size: 60px;
}
.selectedImg {
  height: 30vh;
  object-fit: cover;
}
.editDialog {
  overflow-y: scroll;
  height: 75vh;
  margin-top: 5vh;
  padding: 30px;
  h1 {
    padding: 20px 0;
  }
}
.dialogFileIn {
  height: 200px;
  cursor: pointer;
  position: relative;
  i {
    position: absolute;
    top: 25px;
    right: -20px;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #000;
  }
  img {
    height: 200px;
    object-fit: cover;
  }
}
#fileIn {
  display: none;
}

.nameInput {
  button,
  input {
    border: none;
  }
  button {
    transition: 120ms;
    border-radius: 0 15px 15px 0;
    color: #8c52ff;
    background-color: white;
    width: 150px;
  }
  button:hover {
    color: white;
    background-color: #8c52ff;
  }
  input {
    border-radius: 15px 0 0 15px;
    text-align: center;
    width: 300px;
    padding: 10px 20px;
  }
  input:focus {
    outline: none;
  }
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  border-radius: 15px;
}

@media (max-width: 1300px) {
  .editDialog {
    height: 100vh;
    margin-top: 0;
    bottom: 0;
    padding: 5px;
    overflow-y: unset;
    h1 {
      padding: 0;
    }
  }
  i {
    font-size: 30px;
  }
}

/* Carousel CSS */

.emphesis-carousel {
  font-family: "Ephesis", sans-serif;
  font-size: 100px;
}

@media (max-width: 768px) {
  .card-content h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.generate-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  background-color: #1769aa; /* Darker shade on hover */
}

.generate-btn:active {
  transform: scale(0.95); /* Slight scale effect on click */
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 600px;
  height: 600px;
  font-size: 20px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card-index {
  font-size: 18px;
  font-weight: bold;
  color: #2196f3;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  margin: 20px;
  justify-content: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn,
.next-btn {
  margin: 10px;
  background-color: white;
  border: transparent;
  padding: 7px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 40px;
}

.prev-btn {
  font-size: 30px;
}

.next-btn {
  font-size: 30px;
}

.edit-btn {
  position: absolute;
  border-radius: 10px;
  top: 10px;
  right: 20px;
  padding: 8px 12px;
  background-image: linear-gradient(to right, #2196f3, #8e24aa);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.edit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.edit-btn:focus {
  outline: none;
}

.edit-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.styled-input {
  width: 95%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  color: #555;
  transition: border-color 0.3s;
}

.styled-input:focus {
  outline: none;
  border-color: #2196f3; /* Focus effect */
}
